<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rand</title>
</head>
<body>
    <p>Rand</p>
    <iframe src="https://open.spotify.com/embed/track/3VeMnW4agXk7wMdJ5e3ysk" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</body>
</html>