body {
    background-color: #1b1b1b;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#map {
    width: 100%; 
    height: 90vh;
}

img.popup_image {
    height: 150px;
}

.mapboxgl-popup-content {
    padding: 0px;
}

@media only screen and (max-width: 700px) {
    img.popup_image {
        height: 100px;
    }
    
}

.navbar.navbar-dark.bg-dark.navbar-expand-lg {
    background-color: #1b1b1b;
    color: white;
}

a.nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #1DB954;
}

img.allsongs-image {
    max-width:100%;
    max-height:100%;
}

.container.allsongs {
    margin-bottom: 10%;
}

input.new-song {
    padding: 10px;
    max-width: 400px;
}
div.row.new-song > label, div.row.new-song > textarea {
    max-width: 400px;
}

div.row.new-song > textarea {
    height: 100px;
}

div.row.new-song {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
}

h1 {
    text-align: center;
}

button[type="submit"] {
    width: 30%;
    background-color: #1DB954;
    padding: 5px;
    color: white;
    border: none;
    transition: ease-in-out;
}

button[type="submit"]:hover {
    background-color: #1db954ab;
}

div.allsongs {
    position: relative;
}

div.song-info {
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    z-index: 10;
    background-color: #171616;
    overflow: hidden;
    text-align: center;
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}


div.song-info.visible {
    visibility: visible;

}

p.artist {
    font-weight: 200;
}

p.location {
    font-size: 14px;
    font-weight: 200;
    color: #ffffff63;
    padding: 5%;
}

a.see-more {
    color: #1DB954;
}