<% layout('layouts/boilerplate')%>
<h1>All Songs</h1>
<div class="row">
    <% for(let song of songs) { %> 
    <div class="col-xl-3 col-md-6 col-sm-6">
        <div class="container allsongs">
            <!-- <div class="song-info">
                <h1><%=song.title%></h1>
                <h2><%=song.artist%></h2>
            </div> -->
            <img class="allsongs" alt="" src="<%=song.image%>">
        </div>
    </div>
    <% }%>
</div>
