<% layout('layouts/boilerplate')%>
<div id="map"></div>
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const songs = { features: <%- JSON.stringify(songs) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>